[submodule "App/Vendor/imgui"]
	path = Forgotten/vendor/imgui
	url = https://github.com/edvn0/imgui
[submodule "App/Vendor/glfw"]
	path = Forgotten/vendor/glfw
	url = https://github.com/edvn0/glfw
[submodule "App/Vendor/stb"]
	path = Forgotten/vendor/stb
	url = https://github.com/edvn0/stb
[submodule "App/Vendor/glm"]
	path = Forgotten/vendor/glm
	url = https://github.com/edvn0/glm
[submodule "ForgottenEngine/vendor/VulkanMemoryAllocator"]
	path = ForgottenEngine/vendor/VulkanMemoryAllocator
	url = https://github.com/edvn0/VulkanMemoryAllocator.git
[submodule "ForgottenEngine/vendor/glfw"]
	path = ForgottenEngine/vendor/glfw
	url = https://github.com/edvn0/glfw
[submodule "ForgottenEngine/vendor/glm"]
	path = ForgottenEngine/vendor/glm
	url = https://github.com/edvn0/glm
[submodule "ForgottenEngine/vendor/spdlog"]
	path = ForgottenEngine/vendor/spdlog
	url = https://github.com/edvn0/spdlog
[submodule "ForgottenEngine/vendor/vk_init"]
	path = ForgottenEngine/vendor/vk_init
	url = https://github.com/sagering/vk_init
[submodule "ForgottenEngine/vendor/vk-bootstrap"]
	path = ForgottenEngine/vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "ForgottenEngine/vendor/tinyobjloader"]
	path = ForgottenEngine/vendor/tinyobjloader
	url = https://github.com/edvn0/tinyobjloader.git
