[submodule "ForgottenEngine/vendor/VulkanMemoryAllocator"]
	path = ForgottenEngine/vendor/VulkanMemoryAllocator
	url = https://github.com/edvn0/VulkanMemoryAllocator.git
[submodule "ForgottenEngine/vendor/glfw"]
	path = ForgottenEngine/vendor/glfw
	url = https://github.com/edvn0/glfw
[submodule "ForgottenEngine/vendor/glm"]
	path = ForgottenEngine/vendor/glm
	url = https://github.com/edvn0/glm
[submodule "ForgottenEngine/vendor/spdlog"]
	path = ForgottenEngine/vendor/spdlog
	url = https://github.com/edvn0/spdlog
[submodule "ForgottenEngine/vendor/vk_init"]
	path = ForgottenEngine/vendor/vk_init
	url = https://github.com/sagering/vk_init
[submodule "ForgottenEngine/vendor/tinyobjloader"]
	path = ForgottenEngine/vendor/tinyobjloader
	url = https://github.com/edvn0/tinyobjloader.git
[submodule "ForgottenEngine/vendor/stb"]
	path = ForgottenEngine/vendor/stb
	url = https://github.com/edvn0/stb
[submodule "ForgottenEngine/vendor/imgui"]
	path = ForgottenEngine/vendor/imgui
	url = https://github.com/edvn0/imgui
[submodule "ForgottenEngine/vendor/argparse"]
	path = ForgottenEngine/vendor/argparse
	url = https://github.com/edvn0/argparse
[submodule "ForgottenEngine/vendor/assimp"]
	path = ForgottenEngine/vendor/assimp
	url = https://github.com/edvn0/assimp.git
[submodule "ForgottenEngine/vendor/msdf-atlas-gen"]
	path = ForgottenEngine/vendor/msdf-atlas-gen
	url = https://github.com/edvn0/msdf-atlas-gen.git
[submodule "ForgottenEngine/vendor/spirv-cross"]
	path = ForgottenEngine/vendor/spirv-cross
	url = https://github.com/edvn0/SPIRV-Cross
[submodule "ForgottenEngine/vendor/shaderc"]
	path = ForgottenEngine/vendor/shaderc
	url = https://github.com/edvn0/shaderc
[submodule "ForgottenEngine/vendor/yaml-cpp"]
	path = ForgottenEngine/vendor/yaml-cpp
	url = https://github.com/edvn0/yaml-cpp
[submodule "ForgottenEngine/vendor/entt"]
	path = ForgottenEngine/vendor/entt
	url = https://github.com/edvn0/entt
[submodule "ForgottenEngine/vendor/box2d"]
	path = ForgottenEngine/vendor/box2d
	url = https://github.com/edvn0/box2d
[submodule "ForgottenEngine/vendor/freetype"]
	path = ForgottenEngine/vendor/freetype
	url = https://github.com/freetype/freetype.git
